body {
background-color:white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-radius: 5px;
    width: 25%;
    margin: 20px auto;
    box-shadow: 4px 4px 4px ;
  }

  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top:20px ;
    width: 22vw;
    
  }
  .input-field {
    width: 120px;
    height: 60px;
    border-radius: 5px 0 0 5px;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
  }
  
  .result-field {
    width: 150px;
    height: 60px;
    border-radius: 0 5px 5px 0;
    text-align: right;
    font-size: 25px;
    font-weight: 600;

  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    box-shadow: 4px 2px 4px rgb(73, 39, 39);

  }
  
  .button:hover {
    background-color: #748031;
    width: 110%;
  }
  
  .function-button {
    background-color: #f0ad4e;
    color: white;
  }
  
  .clear-button {
    background-color: #d9534f;
    color: white;
  }
  
  .evaluate-button {
    background-color: #5cb85c;
    color: white;
  }
  
  .input-button {
    background-color: #337ab7;
    color: white;
  }
  
  .math-button {
    background-color: #333;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    animation: changeColor 4s linear infinite;
    animation-direction: alternate;
  }
  @keyframes changeColor {
    0%{
        background-color:blue ; 
    }
    50%{
        background-color: cyan;
    }
    100%{
        background-color: #030029;   
    }
}
  .math-button:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg,#865dff,#e384ff);
    width: 80px;
    height: 540%;
    margin-left: -100px;
    margin-top: -50px;
    animation: rotate 35s linear infinite;
    z-index: -1;
  }
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.math-button:after {
  content: "";
  position: absolute;
  background-color: #030029;
  inset: 8px;
  border-radius: inherit;
  z-index: -1;
}

  .result-button {
    background-color: #333;
    color: white;
  }
.numbers-button {
  z-index: 1;
  overflow: hidden;
  position: relative;
  background-color: #eee;
  transition: all 1s ease-in-out;
}
.numbers-button:hover {
  background-image: linear-gradient(180deg,#865dff,#e384ff) ;

}
.numbers-button:before{ 
content: "";
position: absolute;
background-color: #eee;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
border-radius: 50%;
transform: scale(1.5);
transition: all 1s ease-in-out;

  }
  .numbers-button:before:hover {
    transform: scale(0);
  }
    
  
  @media (max-width: 768px) {
    .button-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .button {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
  }
  
  @media (min-width: 480px) {
    .container{
      margin-top: 20px;
      width: 70%;
    }
    .button-container {
      grid-template-columns: repeat(5, 1fr);
    }
  
    .button {
      width: 60px;
      height: 80px;
      font-size: 20px;
    }
    .input-container {
        width: 90%;
        padding: 10px;
    }
    .input-field {
      width: 160px;
    }
    .result-field {
      width: 164px;
    }
  }
  