body {
background-color:white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-radius: 5px;
    width: 25%;
    margin: 20px auto;
  box-shadow: 4px 4px 4px ;
  }

  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top:20px ;
   
    width: 22vw;
  }
  .input-field {
    width: 120px;
    height: 30px;
   border-radius: 5px 0 0 5px;
    text-align: right;
  }
  
  .result-field {
    width: 150px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    text-align: right;
    font-weight: bold;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .function-button {
    background-color: #f0ad4e;
    color: white;
  }
  
  .clear-button {
    background-color: #d9534f;
    color: white;
  }
  
  .evaluate-button {
    background-color: #5cb85c;
    color: white;
  }
  
  .input-button {
    background-color: #337ab7;
    color: white;
  }
  
  .math-button {
    background-color: #333;
    color: white;
  }
  
  .result-button {
    background-color: #333;
    color: white;
  }
  
  @media (max-width: 768px) {
    .button-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .button {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {

    .container{
      margin-top: 20px;
      width: 90%;
    }
    .button-container {
      grid-template-columns: repeat(5, 1fr);
    }
  
    .button {
      width: 60px;
      height: 80px;
      font-size: 20px;
    }
    .input-container {
        width: 90%;
        padding: 10px;
    }
    .input-field {
      width: 160px;
    }
    .result-field {
      width: 164px;
    }
  }
  